<div class="form-group">
    {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{message}}</div>
          {% endif %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success">{{message}}</div>
          {% endif %}
        {% endfor %}
    {% endif %} 
</div> 
<form role="form" action="{{action_path}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
            <div class="form-group">
                {{field.error}}
                {{field.label_tag}}
                {{field}}
                <!-- <label>Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter Email"> -->
            </div>
        {% endfor %}

        <!-- <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" placeholder="First Name">
        </div>  
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
        </div>    
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div> 
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" placeholder="Address">
        </div> 
        <div class="form-group">
            <label>Course</label>
            <select type="text" class="form-control" name="course">
                {% for course in courses %}
                    <option value="{{course.id}}">{{course.course_name}}</option>
                {% endfor %}
            </select>
        </div>  
        <div class="form-group">
            <label>Gender</label>
            <select type="text" class="form-control" name="sex">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="form-group">
            <label>Session Start</label>
            <input type="date" class="form-control" name="session_start" placeholder="Session Start Year">
        </div>
        <div class="form-group">
            <label>Session End</label>
            <input type="date" class="form-control" name="session_end" placeholder="Session End Year">
        </div>    
        <div class="form-group">
            <label>Profile Picture</label><br>
            <input type="file" name="profile_pic" placeholder="Profile Pic">
        </div>                                                                                                                                           -->
    
     </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">{{button_text}}</button>
    </div>
</form>
